@import 'unpoly';
@import '@docsearch/css';

/* Gray colors */
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-alpha.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/mauve-dark-alpha.css';

/* Accent colors */
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/purple-alpha.css';
@import '@radix-ui/colors/purple-dark.css';
@import '@radix-ui/colors/purple-dark-alpha.css';

/* Interface colors */
@import '@radix-ui/colors/orange-alpha.css';
@import '@radix-ui/colors/iris-alpha.css';
@import '@radix-ui/colors/orange-dark-alpha.css';
@import '@radix-ui/colors/iris-dark-alpha.css';

/**
 * Dimer doc theme styles
 */
@import '@dimerapp/docs-theme/styles';

:root {
  --logo-width: 105px;
  --sidebar-width: 280px;
  --sidebar-anchor-padding-left: 25px;
  --sidebar-anchor-padding-right: 25px;
  --sidebar-title-padding-left: 25px;
  --sidebar-title-padding-right: 25px;
  --font-mono: 'Roboto Mono';
}

:root {
  --logo-color: #bd00ff;
  --aside-width: 300px;

  --accent-1: var(--purple-1);
  --accent-2: var(--purple-2);
  --accent-3: var(--purple-3);
  --accent-4: var(--purple-4);
  --accent-5: var(--purple-5);
  --accent-6: var(--purple-6);
  --accent-7: var(--purple-7);
  --accent-8: var(--purple-8);
  --accent-9: var(--purple-9);
  --accent-10: var(--purple-10);
  --accent-11: var(--purple-11);
  --accent-12: var(--purple-12);

  --accent-a1: var(--purple-a1);
  --accent-a2: var(--purple-a2);
  --accent-a3: var(--purple-a3);
  --accent-a4: var(--purple-a4);
  --accent-a5: var(--purple-a5);
  --accent-a6: var(--purple-a6);
  --accent-a7: var(--purple-a7);
  --accent-a8: var(--purple-a8);
  --accent-a9: var(--purple-a9);
  --accent-a10: var(--purple-a10);
  --accent-a11: var(--purple-a11);
  --accent-a12: var(--purple-a12);

  --sidebar-active-link-text-color: var(--purple-12);
  --pre-tabs-active-border-color: var(--accent-9);
}

html.dark {
  --logo-color: rgb(202 91 242);

  --accent-1: var(--purple-1);
  --accent-2: var(--purple-2);
  --accent-3: var(--purple-3);
  --accent-4: var(--purple-4);
  --accent-5: var(--purple-5);
  --accent-6: var(--purple-6);
  --accent-7: var(--purple-7);
  --accent-8: var(--purple-8);
  --accent-9: var(--purple-9);
  --accent-10: var(--purple-10);
  --accent-11: var(--purple-11);
  --accent-12: var(--purple-12);

  --accent-a1: var(--purple-a1);
  --accent-a2: var(--purple-a2);
  --accent-a3: var(--purple-a3);
  --accent-a4: var(--purple-a4);
  --accent-a5: var(--purple-a5);
  --accent-a6: var(--purple-a6);
  --accent-a7: var(--purple-a7);
  --accent-a8: var(--purple-a8);
  --accent-a9: var(--purple-a9);
  --accent-a10: var(--purple-a10);
  --accent-a11: var(--purple-a11);
  --accent-a12: var(--purple-a12);
}

.header_container {
  border-bottom-width: 2px;
}

.docs_sidebar_container nav {
  padding-left: 0;
  padding-right: 0;
}

.sidebar_section_item a {
  border-radius: 0;
}

.header_nav_menu {
  gap: 0;
}

.header_nav_items .link_github,
.header_nav_items .theme_switcher {
  padding: 20px 18px;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--header-border-color);
}

.markdown pre span[style='color: #546E7A;'] {
  color: var(--code-comment-color) !important;
}

.codegroup_tabs button {
  letter-spacing: 0.4px;
  padding: 0 8px;
}

.notification_banner {
  display: flex;
  background: var(--accent-3);
  color: var(--accent-12);
  border: 2px solid var(--accent-8);
  border-radius: var(--rounded-md);
  padding: 15px 25px 20px 25px;
  position: relative;
  margin-bottom: 40px;
}

.notification_banner_content {
  padding-right: 40px;
  line-height: 1.4;
  font-size: 15px;
}

.notification_banner_content a {
  background: var(--accent-10);
  text-decoration: none;
  color: var(--accent-1);
  border-radius: var(--rounded-sm);
  padding: 5px 12px;
  font-weight: 500;
  font-size: 15px;
}

.notification_banner_content_cta {
  margin-top: 18px;
}

.notification_banner_action {
  position: absolute;
  right: 20px;
  top: 10px;
}

.notification_banner_action button {
  font-weight: 600;
  color: var(--accent-9);
  font-size: 18px;
}

.benchmark-tabs {
  display: flex;
  gap: 14px;
  margin-top: 40px;
}

.benchmark-tabs button {
  font-family: inherit;
  font-size: inherit;
  color: var(--neutral-gray-11);
  border-bottom: 2px solid transparent;
  padding: 3px 12px;
}

.benchmark-tabs button.active {
  border-color: var(--accent-a10);
}

.benchmarks-chart {
  border: 1px solid var(--dropdown-border-color);
  padding: 20px;
}

.dark_mode {
  display: none;
}
.dark .dark_mode {
  display: block;
}
.dark .light_mode {
  display: none;
}

.cards_grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.header_nav_menu_item_separator {
  background: none;
  padding: 0 4px;
}
