@import 'unpoly';
@import '@docsearch/css';
@import '@dimerapp/docs-theme/styles';

:root {
  --font-sans: 'Instrument Sans', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --logo-width: 105px;
  --sidebar-width: 280px;
  --sidebar-anchor-padding-left: 25px;
  --sidebar-anchor-padding-right: 25px;
  --sidebar-title-padding-left: 25px;
  --sidebar-title-padding-right: 25px;
  --prose-h1-font-weight: 600;
  --prose-h2-font-weight: 600;
  --prose-h3-font-weight: 600;
  --prose-h4-font-weight: 600;
  --sidebar-title-font-weight: 600;
}

.toc_container h3, .markdown dt {
  font-weight: 600;
}

.markdown strong {
  font-weight: 600;
}

.markdown :not(pre) > code {
  overflow-wrap: initial;
  word-wrap: initial;
  hyphens: initial;
}

:root {
  --purple1: hsl(280, 65.0%, 99.4%);
  --purple2: hsl(276, 100%, 99.0%);
  --purple3: hsl(276, 83.1%, 97.0%);
  --purple4: hsl(275, 76.4%, 94.7%);
  --purple5: hsl(275, 70.8%, 91.8%);
  --purple6: hsl(274, 65.4%, 87.8%);
  --purple7: hsl(273, 61.0%, 81.7%);
  --purple8: hsl(272, 60.0%, 73.5%);
  --purple9: hsl(272, 51.0%, 54.0%);
  --purple10: hsl(272, 46.8%, 50.3%);
  --purple11: hsl(272, 50.0%, 45.8%);
  --purple12: hsl(272, 66.0%, 16.0%);

  --code-bg-color: var(--mauve5);
  --code-text-color: var(--purple11);
  --aside-active-link-text-color: var(--purple11);
  --sidebar-active-link-bg-color: var(--purple5);
  --sidebar-active-link-text-color: var(--purple11);
  --pre-tabs-active-border-color: var(--purple8);
  --sidebar-loading-link-bg-color: hsl(275deg 70.8% 91.8% / 51%);
}

html.dark {
  --purple1: hsl(284, 20.0%, 9.6%);
  --purple2: hsl(283, 30.0%, 11.8%);
  --purple3: hsl(281, 37.5%, 16.5%);
  --purple4: hsl(280, 41.2%, 20.0%);
  --purple5: hsl(279, 43.8%, 23.3%);
  --purple6: hsl(277, 46.4%, 27.5%);
  --purple7: hsl(275, 49.3%, 34.6%);
  --purple8: hsl(272, 52.1%, 45.9%);
  --purple9: hsl(272, 51.0%, 54.0%);
  --purple10: hsl(273, 57.3%, 59.1%);
  --purple11: hsl(275, 80.0%, 71.0%);
  --purple12: hsl(279, 75.0%, 95.7%);

  --code-bg-color: var(--mauve5);
  --code-text-color: var(--purple11);
  --sidebar-active-link-bg-color: var(--purple5);
  --aside-active-link-text-color: var(--purple11);
  --sidebar-active-link-text-color: var(--purple12);
  --pre-tabs-active-border-color: var(--purple10);
  --sidebar-loading-link-bg-color: hsl(279deg 43.8% 23.3% / 31%)
}

.header_container {
  border-bottom-width: 2px;
}

.docs_sidebar_container nav {
  padding-left: 0;
  padding-right: 0;
}

.sidebar_section_item a {
  border-radius: 0;
}

.header_nav_menu {
  gap: 0;
}

.header_nav_items .link_github, .header_nav_items .theme_switcher {
  padding: 20px 18px;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--header-border-color);
}
