@import 'unpoly';
@import '@docsearch/css';

/* Gray colors */
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-alpha.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/mauve-dark-alpha.css';

/* Accent colors */
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/purple-alpha.css';
@import '@radix-ui/colors/purple-dark.css';
@import '@radix-ui/colors/purple-dark-alpha.css';

/* Interface colors */
@import '@radix-ui/colors/orange-alpha.css';
@import '@radix-ui/colors/iris-alpha.css';
@import '@radix-ui/colors/orange-dark-alpha.css';
@import '@radix-ui/colors/iris-dark-alpha.css';

/**
 * Dimer doc theme styles
 */
@import '@dimerapp/docs-theme/styles';

:root {
  --logo-width: 105px;
  --sidebar-width: 280px;
  --sidebar-anchor-padding-left: 25px;
  --sidebar-anchor-padding-right: 25px;
  --sidebar-title-padding-left: 25px;
  --sidebar-title-padding-right: 25px;
  --font-mono: 'Roboto Mono';
}

:root {
  --code-text-color: var(--purple-11);

  --progress-bar-color: var(--purple-a11);
  --sidebar-active-link-bg-color: var(--purple-a5);
  --sidebar-active-link-text-color: var(--purple-12);
  --aside-active-link-text-color: var(--purple-11);
  --pre-tabs-active-border-color: var(--purple-10);

  --note-icon-color: var(--purple-a11);
  --code-bg-color: var(--purple-a3);
  --code-text-color: var(--purple-a11);
  --code-highlight-border-color: var(--purple-11);
  --sidebar-loading-link-bg-color: var(--purple-a3);
  --logo-color: #BD00FF;
  --docsearch-primary-color: var(--purple-9);
}

html.dark {
  --progress-bar-color: var(--purple-a11);
  --sidebar-active-link-bg-color: var(--purple-a5);
  --sidebar-active-link-text-color: var(--purple-12);
  --aside-active-link-text-color: var(--purple-11);
  --pre-tabs-active-border-color: var(--purple-a10);

  --note-icon-color: var(--purple-a11);
  --code-bg-color: var(--purple-a3);
  --code-text-color: var(--purple-a11);
  --code-highlight-border-color: var(--purple-a8);
  --sidebar-loading-link-bg-color: var(--purple-a7);
  --docsearch-primary-color: var(--purple-9);
  --logo-color: rgb(202 91 242);
}

.header_container {
  border-bottom-width: 2px;
}

.docs_sidebar_container nav {
  padding-left: 0;
  padding-right: 0;
}

.sidebar_section_item a {
  border-radius: 0;
}

.header_nav_menu {
  gap: 0;
}

.header_nav_items .link_github, .header_nav_items .theme_switcher {
  padding: 20px 18px;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--header-border-color);
}

.markdown pre span[style="color: #546E7A;"] {
  color: var(--code-comment-color) !important;
}

.codegroup_tabs button {
  letter-spacing: 0.4px;
  padding: 0 8px;
}
